{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/onepage.css' %}">
  </head>

  <body>
    <div class="container">
      <div class="up">
        <div class="up_top">
          <p class="uptext1">
            Do you really want to start your booming journey in <br />
            <span class="vfx">VFX and Motion Graphics </span>industry?
          </p>
        </div>
        <div class="up_mid">
          <p class="uptext2">
            Exclusive&nbsp;<span class="aftereffect">After Effects</span><br />
            <span class="kickstarter">Kickstarter&nbsp;</span>workshop
          </p>
        </div>
        <div class="up_bottom">
          <p class="uptext3">
            Do you want to create amazing effects like this?<span><a href=""><img src="{% static 'images/hand.svg' %}" alt=""></a></span>
          </p>
        </div>
      </div>

      <div class="video">
        <video autoplay muted loop id="myVideo">
          <source src="{% static 'videos/1.mp4' %}" type="video/mp4" />
          Your browser does not support HTML5 video.
        </video>
      </div>
      <div class="down">
        <div class="profile">
          <div class="proleft">
            <p>What you will learn?</p>
            <hr class="horizontal" />
            <ul>
              <li>
                <span><img src="{% static 'images/tag.svg' %}" alt="" /></span>Introduction to After
                Effects
              </li>
              <li>
                <span><img src="{% static 'images/tag.svg' %}" alt="" /></span>Basics of Composition
              </li>
              <li>
                <span><img src="{% static 'images/tag.svg' %}" alt="" /></span>Shape, Objects & Layers
              </li>
              <li>
                <span><img src="{% static 'images/tag.svg' %}" alt="" /></span>Text Style & Animation
              </li>
              <li>
                <span><img src="{% static 'images/tag.svg' %}" alt="" /></span>Masking
              </li>
              <li>
                <span><img src="{% static 'images/tag.svg' %}" alt="" /></span>Rotoscoping
              </li>
              <li>
                <span><img src="{% static 'images/tag.svg' %}" alt="" /></span>Tracking
              </li>
              <li>
                <span><img src="{% static 'images/tag.svg' %}" alt="" /></span>3D virtual camera
              </li>
              <li>
                <span><img src="{% static 'images/tag.svg' %}" alt="" /></span>How to make money with
                AE
              </li>
            </ul>
          </div>
          <div class="proright">
            <div class="proimg">
              <img src="{% static 'images/hd.png' %}" alt="" />
            </div>
            <div class="protext">
              <p class="hd">Hardik Dave</p>
              <p class="dd">( Digital Dave )</p>
            </div>
            <div class="prosocial">
              <div class="youtube">
                <a href=""><img src="{% static 'images/youtube.svg' %}" alt="" /></a>
              </div>
              <div class="instagram">
                <a href=""><img src="{% static 'images/instagram.svg' %}" alt="" /></a>
              </div>
              <div class="whatsapp">
                <a href=""><img src="{% static 'images/whatsapp.svg' %}" alt="" /></a>
              </div>
            </div>
            <div class="probtn">
              <button>
                <p>TAP TO REGISTER <br /><span>( 149 RS/-)</span></p>
              </button>
            </div>
          </div>
        </div>
        <div class="sche">
          <div class="lng">
            <p>
              Language of webinar will be <span> HINGLISH </span>= Hindi +
              English
            </p>
          </div>
          <div class="date">
            <p>
              <span>Date:-</span> 16/01/2021 &nbsp;&nbsp;<span>Time:-</span> 6
              PM to 8 PM &nbsp;&nbsp;<span>Price:-</span> 149 Rs/-
            </p>
          </div>
          <div class="rs149">
            <p>
              "If you can't afford <span>149 Rs.</span> for your progress then
              you must join <br />
              this webinar so you can improve your skills and earn more guys..."
            </p>
          </div>
        </div>
        <div class="join">
          <div class="mainhead">
            <p class="joinmain">Who can join?</p>
            <hr class="horizontal" />
          </div>
          <div class="subjoin">
            <div class="joinhead">
              <p>ANYONE</p>
            </div>
            <div class="jointext">
              <p>Who is an editor and want to add more value to their work</p>
              <p>Who wants to start learning VFX & Motion Graphics</p>
              <p>Who wants to create cool intros and infographics</p>
              <p>Who wants to create better Ad films</p>
              <p>Who wants to enhance their editing skills</p>
              <p>Who wants to make an passive income</p>
              <p>Who wants to make their own creative world</p>
            </div>
          </div>
        </div>
        <div class="btn">
          <button>
            TAP TO REGISTER FOR THE WORKSHOP <span>(149 RS.)</span>
          </button>
        </div>
        <div class="yjoin">
          <div class="yjoincontainer">
            <p class="yjoinmain">Why should you join?</p>
            <hr class="horizontal" />
            <ul>
              <li class="yjointext">
                <span><img src="{% static 'images/tag.svg' %}" alt="" /></span>It will not be an
                ordinary tutorial, in this excusive workshop I will help you to
                dive into this creative ocean of after effects.
              </li>
              <br />
              <li class="yjointext">
                <span><img src="{% static 'images/tag.svg' %}" alt="" /></span>You will not only get
                technical knowledge but also get a creative vision. My aim for
                this workshop is to make you think creative and out of the box.
              </li>
              <br />
              <li class="yjointext">
                <span><img src="{% static 'images/tag.svg' %}" alt="" /></span>You will be a member of
                my creative family
              </li>
            </ul>
          </div>
        </div>
        <div class="process">
          <div class="processcontainer">
            <p class="processhead">Process</p>
            <hr class="horizontal" />
            <div class="box">
              <div class="samebox box1">
                <p>
                  Get <br />
                  registerd <br />
                  for workshop
                </p>
              </div>
              <div class="arrow">
                <img src="{% static 'images/arrow.svg' %}" alt="" />
              </div>
              <div class="samebox box2">
                <p>
                  Attend <br />
                  Workshop
                </p>
              </div>
              <div class="arrow">
                <img src="{% static 'images/arrow.svg' %}" alt="" />
              </div>
              <div class="samebox box3">
                <p>Complete <br />& <br />Submit <br />Assignmen</p>
              </div>
              <div class="arrow">
                <img src="{% static 'images/arrow.svg' %}" alt="" />
              </div>
              <div class="samebox box4">
                <p>
                  Get <br />Personal <br />feedback <br /><span
                    >(Surprise Gift)</span
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="btn">
          <button>
            TAP TO REGISTER FOR THE WORKSHOP <span>(149 RS.)</span>
          </button>
        </div>
        <p class="last">Worth to invest</p>
      </div>
      <div class="foot"></div>
    </div>

    <!-- ########### MOBILE View ##########-->

    <div class="container_mobile">
      <div class="up_mobile">
        <div class="up_top_mobile">
          <p class="uptext1_mobile">
            Do you really want to start your <br />
            booming journey in <br />
            <span class="vfx_mobile">VFX and Motion Graphics </span>industry?
          </p>
        </div>
        <div class="up_mid_mobile">
          <p class="uptext2_mobile">
            Exclusive&nbsp;<span class="aftereffect_mobile">After Effects</span><br />
            <span class="kickstarter_mobile">Kickstarter&nbsp;</span>workshop
          </p>
        </div>
        <div class="up_bottom_mobile">
          <p class="uptext3_mobile">
            Do you want to create amazing <br> effects like this? <span><a href=""><img src="{% static 'images/hand.svg' %}" alt=""></a></span>
          </p>
        </div>
      </div>

      <div class="video_mobile">
        <video autoplay muted loop id="myVideo_mobile">
          <source src="{% static 'videos/1.mp4' %}" type="video/mp4" />
          Your browser does not support HTML5 video.
        </video>
      </div>
      <div class="down_mobile">
        <div class="profile_mobile">
          <div class="proleft_mobile">
            <p>What you will learn?</p>
            <hr class="horizontal_mobile" />
            <ul>
              <li>
                <span><img src="{% static 'images/tag.svg' %}" alt="" /></span>Introduction to After
                Effects
              </li>
              <li>
                <span><img src="{% static 'images/tag.svg' %}" alt="" /></span>Basics of Composition
              </li>
              <li>
                <span><img src="{% static 'images/tag.svg' %}" alt="" /></span>Shape, Objects & Layers
              </li>
              <li>
                <span><img src="{% static 'images/tag.svg' %}" alt="" /></span>Text Style & Animation
              </li>
              <li>
                <span><img src="{% static 'images/tag.svg' %}" alt="" /></span>Masking
              </li>
              <li>
                <span><img src="{% static 'images/tag.svg' %}" alt="" /></span>Rotoscoping
              </li>
              <li>
                <span><img src="{% static 'images/tag.svg' %}" alt="" /></span>Tracking
              </li>
              <li>
                <span><img src="{% static 'images/tag.svg' %}" alt="" /></span>3D virtual camera
              </li>
              <li>
                <span><img src="{% static 'images/tag.svg' %}" alt="" /></span>How to make money with
                AE
              </li>
            </ul>
          </div>
          <div class="proright_mobile">
            <div class="proimg_mobile">
              <img src="{% static 'images/photo.jpg' %}" alt="" />
            </div>
            <div class="protext_mobile">
              <p class="hd_mobile">Hardik Dave</p>
              <p class="dd_mobile">( Digital Dave )</p>
            </div>
            <div class="prosocial_mobile">
              <div class="youtube_mobile">
                <a href=""><img src="{% static 'images/youtube.svg' %}" alt="" /></a>
              </div>
              <div class="instagram_mobile">
                <a href=""><img src="{% static 'images/instagram.svg' %}" alt="" /></a>
              </div>
              <div class="whatsapp_mobile">
                <a href=""><img src="{% static 'images/whatsapp.svg' %}" alt="" /></a>
              </div>
            </div>
            <div class="probtn_mobile">
              <button>
                <p>TAP TO REGISTER <br /><span>( 149 RS/-)</span></p>
              </button>
            </div>
          </div>
        </div>
        <div class="sche_mobile">
          <div class="lng_mobile">
            <p>
              Language of webinar will be <span> HINGLISH </span>= Hindi +
              English
            </p>
          </div>
          <div class="date_mobile">
            <p>
              <span>Date:-</span> 16/01/2021 &nbsp;&nbsp;<span>Time:-</span> 6
              PM to 8 PM &nbsp;&nbsp;<span>Price:-</span> 149 Rs/-
            </p>
          </div>
          <div class="rs149_mobile">
            <p>
              "If you can't afford <span>149 Rs.</span> for your progress then
              you must join
              this webinar so you can improve your skills and earn more guys..."
            </p>
          </div>
        </div>
        <div class="join_mobile">
          <div class="mainhead_mobile">
            <p class="joinmain_mobile">Who can join?</p>
            <hr class="horizontal_mobile" />
          </div>
          <div class="subjoin_mobile">
            <div class="joinhead_mobile">
              <p>ANYONE</p>
            </div>
            <div class="jointext_mobile">
              <p> <strong>Who</strong> is an editor and want to add more value to their work</p>
              <p> <strong>Who</strong> wants to start learning VFX & Motion Graphics</p>
              <p> <strong>Who</strong> wants to create cool intros and infographics</p>
              <p> <strong>Who</strong> wants to create better Ad films</p>
              <p> <strong>Who</strong> wants to enhance their editing skills</p>
              <p> <strong>Who</strong> wants to make an passive income</p>
              <p> <strong>Who</strong> wants to make their own creative world</p>
            </div>
          </div>
        </div>
        <div class="btn_mobile">
          <button>
            TAP TO REGISTER FOR THE WORKSHOP <span>(149 RS.)</span>
          </button>
        </div>
        <div class="yjoin_mobile">
          <div class="yjoincontainer_mobile">
            <p class="yjoinmain_mobile">Why should you join?</p>
            <hr class="horizontal_mobile" />
            <ul>
              <li class="yjointext_mobile">
                <span><img src="{% static 'images/tag.svg' %}" alt="" /></span>It will not be an
                ordinary tutorial, in this excusive workshop I will help you to
                dive into this creative ocean of after effects.
              </li>
              <br />
              <li class="yjointext_mobile">
                <span><img src="{% static 'images/tag.svg' %}" alt="" /></span>You will not only get
                technical knowledge but also get a creative vision. My aim for
                this workshop is to make you think creative and out of the box.
              </li>
              <br />
              <li class="yjointext_mobile">
                <span><img src="{% static 'images/tag.svg' %}" alt="" /></span>You will be a member of
                my creative family
              </li>
            </ul>
          </div>
        </div>
        <div class="process_mobile">
          <div class="processcontainer_mobile">
            <p class="processhead_mobile">Process</p>
            <hr class="horizontal_mobile" />
            <div class="box_mobile">
                <div class="up_box_mobile">
                    <div class="samebox_mobile box1">
                        <p>
                        Get <br />
                        registerd <br />
                        for workshop
                        </p>
                    </div>
                    <div class="arrow_mobile">
                        <img src="{% static 'images/arrow.svg' %}" alt="" />
                    </div>
                    <div class="samebox_mobile box2">
                        <p>
                        Attend <br />
                        Workshop
                        </p>
                    </div>
                </div>
                <div class="middle_box_mobile">
                    <div class="arrow_mobile">
                        <img src="{% static 'images/arrow.svg' %}" alt="" />
                    </div>
                </div>
                <div class="bottom_box_mobile">

                    <div class="samebox_mobile box3">
                        <p>
                        Get <br />Personal <br />feedback <br /><span
                            >(Surprise Gift)</span
                        >
                        </p>
                    </div>
                    <div class="arrow_mobile">
                        <img src="{% static 'images/arrow.svg' %}" alt="" />
                    </div>
                    <div class="samebox_mobile box4">
                        <p>Complete <br />& <br />Submit <br />Assignment</p>
                    </div>
                   
                </div>
            </div>
          </div>
        </div>
        <div class="btn_mobile">
          <button>
            TAP TO REGISTER FOR THE WORKSHOP <span>(149 RS.)</span>
          </button>
        </div>
        <p class="last_mobile">Worth to invest</p>
      </div>
      <div class="foot_mobile"></div>
    </div>
  </body>
</html>
